  <!DOCTYPE html>
  <html>
  <head>
    <title>Flixter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="http://vjs.zencdn.net/5.12.6/video-js.css" rel="stylesheet">
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap 4 CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
  </head>

  <body>

    <div id= "flex-content-container">        

      <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <ul class="navbar-nav mr-auto">
        <%= link_to 'Flixter', root_url, class: 'navbar-brand' %>
        <li class = "nav-item">
          <%= link_to 'All Courses', courses_path, class: 'nav-link' %>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <button class="btn btn-outline-info btn-sm" type="submit">
        <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
        </li>
        <% else %>
        <li class="nav-item">
          <%= link_to 'Sign In', new_user_session_path, class: 'nav-link' %>
        </li>
        <% end %>
        </button>

      </ul>
    </nav>


    <% if notice.present? %>
    <p class="alert alert-info"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
    <p class="alert alert-danger"><%= alert %></p>
    <% end %>


    <%= yield %>
  </div>

  <div id="footer">
    <div class = "container">
      <b>Teachers</b>
      <br/>
      <%= link_to 'Teach a Course', new_instructor_course_path %>
    </div>
  </div>

  <script src="http://vjs.zencdn.net/5.12.6/video.js"></script>
  <script src="http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
</body>
</html>
